<div style="float: right; margin-right: 100px; width: 200px;">
                <a id="aj_user_{$user['uid']}" href="javascript:void(0);">{$numaccounts}{$lang->aj_memberlist}</a>
                <br />
                <div id="aj_memberbit_{$user['uid']}" style="display:none; position:relative; cursor:pointer; z-index:100;">
                    <div class="thead" style="font-size:1em;"><strong>{$lang->aj_memberlist}</strong></div>
                    <div class="trow1">
                        <ul style="padding-left:20px;">
                            {$as_user_userbit}
                            {$as_user_hidden}
                        </ul>
                    </div>
                </div>
                </div>