<input type="hidden" name="action" value="as_attach" />
                        <table width="100%" border="0">
                            {$shareuser}
                            <tr><td><input type="radio" name="select" value="attachuser" checked="checked" />&nbsp;{$lang->as_attachuser}<br /></td></tr>
                            <tr><td><input type="radio" name="select" value="attachme" />&nbsp;{$lang->as_attachme}</td></tr>
                            <tr><td><span id="as_username" class="smalltext">{$lang->as_username}</span></td></tr>
                            <tr><td><input type="textbox" name="username" id="accountswitcherusername" style="width: 260px;" class="textbox" /></td></tr>
                            <tr><td><span id="as_password" class="smalltext">{$lang->as_password}</span></td></tr>
                            <tr><td><input type="password" name="password" size="30" /></td></tr>
                            <tr><td>
                                <input type="submit" value="{$lang->as_attach}" name="{$lang->as_attach}" class="button" />
                            </td></tr>