<br />
                <a id="aj_postuser_{$post['pid']}" href="javascript:void(0);">{$numaccounts}{$lang->aj_memberlist}</a>
                <br />
                <div id="aj_postbit_{$post['pid']}" style="display:none; position:absolute; cursor:pointer; z-index:100;">
                    <div class="thead" style="font-size:1em;"><strong>{$lang->aj_memberlist}</strong></div>
                    <div class="trow1">
                        <ul style="padding-left:20px;">
                            {$as_postuser_userbit}
                            {$as_postuser_hidden}
                        </ul>
                    </div>
                </div>