<td class="trow1" valign="top">
                            <fieldset class="trow2">
                                <legend><strong>{$lang->as_usercp_users}</strong></legend>
                                <table cellspacing="0" cellpadding="{$theme['tablespace']}">
                                    <tr><td>{$lang->as_usercp_attached}</td></tr>
                                    {$as_usercp_userbit}
                                </table>
                            </fieldset>
                        </td>