<div id="secreto1" style="display:none;">

	<div style="flex-direction: row; display: flex; margin: 10px 0px;">
		
		<div style=" margin-left: 51px; ">
			<div style="height: 450px; width: 250px; margin-top: 20px; flex-direction: column; display: flex; position: relative;">
				<!-- Contenedor del Avatar1 -->
				<div style="width: 250px; height: 450px; background-color: white; border: 15px solid white; box-shadow: 0px 0px 10px black; border-bottom: 15px solid white; position: relative; background-image: url('/images/op/uploads/AvatarBiografia_One_Piece_Gaiden_Foro_Rol.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
					<if $ficha_secret1['avatar1'] && trim($ficha_secret1['avatar1']) != '' then>
						<img onclick="openAvatar1S1Modal();" class="avatar_biografia" src="{$ficha_secret1['avatar1']}" style="width: 250px; height: 450px; position: relative; z-index: 2; cursor: pointer;" />
					<else>
						<div onclick="openAvatar1S1Modal();" style="width: 250px; height: 450px; position: relative; z-index: 2; cursor: pointer; display: flex; align-items: center; justify-content: center;">
							<span style="color: rgba(255,255,255,0.8); font-family: 'moonGetHeavy'; font-size: 14px; text-align: center; text-shadow: 1px 1px 2px rgba(0,0,0,0.7); padding: 10px;"></span>
						</div>
					</if>
				</div>
			</div>
		</div>
		
		<div style="flex-direction: column; display: flex; margin: 20px 50px;">
			<div style="position: relative;">
				<img style="position: absolute;top: -170px;left: 35px;z-index: -1;" src="/images/op/uploads/TopSecretIdentidadAlternativa_One_Piece_Gaiden_Foro_Rol.webp">
			</div>
			<div style="margin-left: 60px;text-align: center;margin-bottom: 4px;transform: rotate(17deg);margin-top: 26px;">
				<div>
					<span onclick="openNombreS1Modal()" style="cursor: pointer; font-family: 'moonGetHeavy';letter-spacing: 1px;text-shadow: 2px 2px 0px black;color: #ff7e00;font-size: 26px;">
						<a class="nombre2">
							<if $ficha_secret1['nombre'] && trim($ficha_secret1['nombre']) != '' then>
								{$ficha_secret1['nombre']}
							<else>
								[Haz clic para agregar nombre]
							</if>
						</a>
					</span>
				</div>
				<div style=" margin-top: 43px; ">
					<span onclick="openApodoS1Modal()" class="apodo2" style="cursor: pointer; font-family: 'moonGetHeavy';letter-spacing: 1px;color: {$borderColor};font-size: 22px;">
						<if $ficha_secret1['apodo'] && trim($ficha_secret1['apodo']) != '' then>
							{$ficha_secret1['apodo']}
						<else>
							[Haz clic para agregar apodo]
						</if>
					</span>
				</div>
			</div>
			<div style=" margin-top: 131px; ">
				<div class="historia barra-op bbox" onclick="openHistoriaS1Modal()" style="width: 600px; height: 40px; text-align: center; background-color: {$borderColor}; border-top-left-radius: 6px; border-top-right-radius: 6px;">
					<span class="barra-texto-op" style="font-family: 'moonGetHeavy'; letter-spacing: 1px; color: white; font-size: 25px;">HISTORIA</span>
				</div>    
				<div class="historiaCaja bbox" style="height: 170px; background-color: white; border-left: 2px solid black; border-right: 2px solid black; border-bottom: 2px solid black; box-sizing: border-box; overflow: auto; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;">
					<div style="font-family: InterRegular; margin: 3px; font-size: 14px; text-align: justify; padding: 0px 7px;">{$ficha_secret1['historia']}</div>
				</div>    
			</div>
		</div>
		
			
	</div>
	
	<div style="flex-direction: row;display: flex;margin: -10px 50px;">
		<div>
			<div class="apariencia barra-op bbox" onclick="openAparienciaS1Modal()" style="width: 290px; height: 40px; text-align: center; background-color: {$borderColor}; border-top-left-radius: 6px; border-top-right-radius: 6px;">
				<span class="barra-texto-op" style="font-family: 'moonGetHeavy'; letter-spacing: 1px; color: white; font-size: 25px;">APARIENCIA</span>
			</div>    
			<div class="aparienciaCaja bbox" style="width: 290px; height: 220px; background-color: white; border-left: 2px solid black; border-right: 2px solid black; border-bottom: 2px solid black; box-sizing: border-box; overflow: auto; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;">
				<div style="font-family: InterRegular; margin: 3px; font-size: 14px; text-align: justify; padding: 0px 7px;">{$ficha_secret1['apariencia']}</div>
			</div>    
		</div>
		<div style="margin-left: 15px;">
			<div class="personalidad barra-op bbox" onclick="openPersonalidadS1Modal()" style="width: 290px; height: 40px; text-align: center; background-color: {$borderColor}; border-top-left-radius: 6px; border-top-right-radius: 6px;">
				<span class="barra-texto-op" style="font-family: 'moonGetHeavy'; letter-spacing: 1px; color: white; font-size: 25px;">PERSONALIDAD</span>
			</div>    
			<div class="personalidadCaja bbox" style="width: 290px; height: 220px; background-color: white; border-left: 2px solid black; border-right: 2px solid black; border-bottom: 2px solid black; box-sizing: border-box; overflow: auto; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;">
				<div style="font-family: InterRegular; margin: 3px; font-size: 14px; text-align: justify; padding: 0px 7px;">{$ficha_secret1['personalidad']}</div>
			</div>    
		</div>
		<div style="margin-left: 15px;">
			<div class="extras barra-op bbox" onclick="openExtrasS1Modal()" style="width: 290px; height: 40px; text-align: center; background-color: {$borderColor}; border-top-left-radius: 6px; border-top-right-radius: 6px;">
				<span class="barra-texto-op" style="font-family: 'moonGetHeavy'; letter-spacing: 1px; color: white; font-size: 25px;">EXTRA</span>
			</div>    
			<div class="personalidadCaja bbox" style="width: 290px; height: 220px; background-color: white; border-left: 2px solid black; border-right: 2px solid black; border-bottom: 2px solid black; box-sizing: border-box; overflow: auto; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;">
				<div style="font-family: InterRegular; margin: 3px; font-size: 14px; text-align: justify; padding: 0px 7px;">{$ficha_secret1['extra']}</div>
			</div>    
		</div>
	</div>
	
	<div style="flex-direction: row;display: flex;margin: 30px 1px;">
		
		<div style="flex-direction: column;display: flex;">
			<div class="tag-ficha" style="background-color: black">
				<if $g_is_staff then>
					<div class="tag-ficha-texto" onclick="openFaccionS1Modal()" style="cursor:pointer;color: white;position: relative;top: 7px;">
						{$ficha_secret1['faccion']}
					</div>
				</if>

				<if !$g_is_staff then>
					<div class="tag-ficha-texto" style="color: white;position: relative;top: 7px;">
						{$ficha_secret1['faccion']}
					</div>
				</if>

				<div class="tag-ficha-kanji" style="background-color: white; top: -33px">
					<div class="tag-ficha-kanji-texto" style="color: black">族</div>
				</div>
			</div>
			<div>
				<div style="margin-top: -2px; margin-left: 63px;">
					<if $g_is_staff then>
						<img onclick="openRangoS1Modal()" style="cursor: pointer;" src="/images/op/rangos/{$ficha_secret1['rango']}_One_Piece_Gaiden_Foro_Rol.webp"/>
					</if>
					<if !$g_is_staff then>
						<img src="/images/op/rangos/{$ficha_secret1['rango']}_One_Piece_Gaiden_Foro_Rol.webp"/>
					</if>
				</div>
			</div>
			<if $g_is_staff || $is_owner then>
				<div style="cursor: pointer;margin-top: -2px;margin-left: 63px;">
					<div onclick="openVisibleS1Modal()">Es Visible: {$ficha_secret1['es_visible']}</div>
				</div>
			</if>
		</div>
		
		<div style=" margin-left: 35px; ">
			<div style="width: 560px; height: 300px; border: 17px solid white; border-bottom: 15px solid white; box-shadow: 0px 0px 10px black; position: relative; background-image: url('/images/op/uploads/AvatarReputacion2_One_Piece_Gaiden_Foro_Rol.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
				<if $ficha_secret1['avatar2'] && trim($ficha_secret1['avatar2']) != '' then>
					<img onclick="openAvatar2S1Modal()" class="avatar_repu_2" src="{$ficha_secret1['avatar2']}" style="width: 560px; height: 300px; cursor: pointer; position: relative; z-index: 2;" />
				<else>
					<div onclick="openAvatar2S1Modal()" style="width: 560px; height: 300px; cursor: pointer; position: relative; z-index: 2; display: flex; align-items: center; justify-content: center;">
						<span style="color: rgba(255,255,255,0.8); font-family: 'moonGetHeavy'; font-size: 16px; text-align: center; text-shadow: 1px 1px 2px rgba(0,0,0,0.7); padding: 10px;"></span>
					</div>
				</if>
			</div>
		</div>	
		
	</div>
	
	
	<div style=" flex-direction: row; display: flex; margin: 20px 50px;">

	</div>
</div>