<div class="outer-postbit">
	
<!--
	<div class="postbit-icon">
		<i class="fa fa-pencil-square-o fa_xtra" alt="{$lang->postbit_joined}" title="{$lang->postbit_joined}"></i>
	</div>
-->
	
	<div class="postbit-text">{$lang->postbit_joined} {$post['userregdate']}</div>
	
</div>


<div class="outer-postbit">
	
<!--
	<div class="postbit-icon">
		<i class="fa fa-comments-o fa_xtra" alt="{$lang->postbit_posts}" title="{$lang->postbit_posts}"></i>
	</div>
-->
	
	<div class="postbit-text">{$lang->postbit_posts} {$post['postnum']}</div>
	
		<br />
	
</div>

<div class="outer-postbit">
	{$post['replink']}{$post['profilefield']}
</div>