<div style=" display: flex; width: 1000px; background-color: {$row['chat_bg_color']};">
	<div class="rt_chat-message-avatar">
		<a href="/op/ficha.php?uid={$row['uid']}"><img src="{$row['avatar']}" alt=""></a>
	</div>
	<div class="rt_chat-message-content">
		<div class="rt_chat-message-meta">
			<span class="rt_chat-message-author">{$row['username']}{$rt_chat_whisper}</span>
			<div style=" display: inline; position: relative; top: 3px; "><span class="rt_chat-message-timestamp" data-timestamp="{$row['dateline']}"></span></div>
			<div class="rt_chat-message-action" style="display: inline;position: relative;top: 2px;">{$rt_chat_actions}</div>
		</div>
		<div class="rt_chat-message-text" style="background-color: {$row['chat_bg_color']};">
<!-- 			 background -->
			{$row['message']}
			<input type="hidden" name="original_message" value="{$row['original_message']}">
		</div>
		
	</div>
</div>



<!--  
8 pirata
9 marine
10 cazarrecompensas

-->