<html>

<head>
  <title>Consola Súper Secreta</title>
  {$headerinclude}
</head>

<body>
  {$header}
  <div class="fondo-blanco">
    <if $fid=='' then>
      User ID:<br><input class="textbox" type="number" name="name" min="100" max="2000" required id='fid'><br><br>
      Accion:<br>
      <select id="accion">
        <option value="T1">T1</option>
        <option value="T2">T2</option>
	    <option value="T3">T3</option>
		<option value="T4">T4</option>
      </select><br><br>
      <button onclick=onClickAccion()>Ir</button>
      <br><br>
    </if>
	
	<if $fid != '' && $accion == 'T1' then>
		User ID:<br><input class="textbox" type="number" name="name" required id='fid' value={$fid} disabled><br>
		Accion:<br>
        <select id="accion" disabled>
          <option value="{$accion}">{$accion}</option>
        </select><br>
		<p>Nombre de cuenta: <a href="/op/ficha.php?uid={$fid}" target="_blank">{$ficha['nombre']}</a></p>
		<hr>
		ID del Tema: <br><input class="textbox" type="text" name="tid" id="tid" required><br>
		Reputación:<br>
		<select id="reputacionT1">
          <option value="positiva">Positiva</option>
		  <option value="negativa">Negativa</option>
        </select><br><br>
<!-- 		Recompensas a entregar:<br>
		<div id="resultadosT1" name="resultadosT1"> 
		</div><br>-->
		<input onclick="entregarT1()" class="button" value="Entregar" style=" width: 93px; font-size: 22px; ">
	</if>
	  
	<if $fid != '' && $accion == 'T2' then>
		User ID:<br><input class="textbox" type="number" name="name" required id='fid' value={$fid} disabled><br>
		Accion:<br>
        <select id="accion" disabled>
          <option value="{$accion}">{$accion}</option>
        </select><br>
		<p>Nombre de cuenta: <a href="/op/ficha.php?uid={$fid}" target="_blank">{$ficha['nombre']}</a></p>
		<hr>
		ID del Tema: <br><input class="textbox" type="text" name="tid" id="tid" required><br>
		Reputación:<br>
		<select id="reputacionT2">
          <option value="positiva">Positiva</option>
		  <option value="negativa">Negativa</option>
        </select><br><br>
<!-- 		Recompensas a entregar:<br>
		<div id="resultadosT2" name="resultadosT2">
		</div><br> -->
		<input onclick="entregarT2()" class="button" value="Entregar" style=" width: 93px; font-size: 22px; ">
	</if>
	  
	<if $fid != '' && $accion == 'T3' then>
		User ID:<br><input class="textbox" type="number" name="name" required id='fid' value={$fid} disabled><br>
		Accion:<br>
        <select id="accion" disabled>
          <option value="{$accion}">{$accion}</option>
        </select><br>
		<p>Nombre de cuenta: <a href="/op/ficha.php?uid={$fid}" target="_blank">{$ficha['nombre']}</a></p>
		<hr>
		ID del Tema: <br><input class="textbox" type="text" name="tid" id="tid" required><br>
		Reputación:<br>
		<select id="reputacionT3">
          <option value="positiva">Positiva</option>
		  <option value="negativa">Negativa</option>
        </select><br><br>
<!-- 		Recompensas a entregar:<br>
		<div id="resultadosT3" name="resultadosT3"> 
		</div><br>-->
		<input onclick="entregarT3()" class="button" value="Entregar" style=" width: 93px; font-size: 22px; ">
	</if>
	  
	<if $fid != '' && $accion == 'T4' then>
		User ID:<br><input class="textbox" type="number" name="name" required id='fid' value={$fid} disabled><br>
		Accion:<br>
        <select id="accion" disabled>
          <option value="{$accion}">{$accion}</option>
        </select><br>
		<p>Nombre de cuenta: <a href="/op/ficha.php?uid={$fid}" target="_blank">{$ficha['nombre']}</a></p>
		<hr>
		ID del Tema: <br><input class="textbox" type="text" name="tid" id="tid" required><br>
		Reputación:<br>
		<select id="reputacionT4">
          <option value="positiva">Positiva</option>
		  <option value="negativa">Negativa</option>
        </select><br><br>
<!-- 		Recompensas a entregar:<br>
		<div id="resultadosT3" name="resultadosT3"> 
		</div><br>-->
		<input onclick="entregarT4()" class="button" value="Entregar" style=" width: 93px; font-size: 22px; ">
	</if>
	
  </div>
  {$footer}
</body>
<if $log_var !='' then><script>alert(`{$log_var}`);</script></if>
{$reload_script}
<script>
	function entregarT1() {
		$.post("/op/staff/entregar_recompensas.php", { ficha_id: '{$fid}', accion: 'T1', reputacion: $('#reputacionT1').val(), tid: $('#tid').val() }, function( data ) {
			alert('¡Entregada recompensa!');
			console.log(data);
			window.location = "/op/staff/log_entregas.php";
		}); 
	}
	
	function entregarT2() {
		$.post("/op/staff/entregar_recompensas.php", { ficha_id: '{$fid}', accion: 'T2', reputacion: $('#reputacionT2').val(), tid: $('#tid').val() }, function( data ) {
			alert('¡Entregada recompensa!');
			console.log(data);
			window.location = "/op/staff/log_entregas.php";
		}); 
	}
	
	function entregarT3() {
		$.post("/op/staff/entregar_recompensas.php", { ficha_id: '{$fid}', accion: 'T3', reputacion: $('#reputacionT3').val(), tid: $('#tid').val() }, function( data ) {
			alert('¡Entregada recompensa!');
			console.log(data);
			window.location = "/op/staff/log_entregas.php";
		}); 
	}
	
	function entregarT4() {
		$.post("/op/staff/entregar_recompensas.php", { ficha_id: '{$fid}', accion: 'T4', reputacion: $('#reputacionT4').val(), tid: $('#tid').val() }, function( data ) {
			alert('¡Entregada recompensa!');
			console.log(data);
			window.location = "/op/staff/log_entregas.php";
		}); 
	}
	
  function onClickAccion() {
    const fid = document.getElementById('fid').value;
    const accion = document.getElementById('accion').value;
    if (fid && accion) {
      window.location.href = window.location.pathname + '?fid=' + fid + '&accion=' + accion;
    }
  }
</script>

</html>